@{
    ViewBag.Title = "Danh sách thẻ đen";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutNew.cshtml";
}
<script type="text/javascript">
    urlLists = '@Url.Action("ListItems", "BackList")';
    urlXuatExcel = '@Url.Action("ExportExcell", "BackList")';
    formWidth = 960;
    formHeight = $(window).height() - 24;
    viewWidth = 960;
    viewHeight = $(window).height() - 24;

    $(document).ready(function () {
        initAjaxLoad(urlLists, "#Griditems");

        $("#btn_XuatExcel").click(function () {
            window.location.href = urlXuatExcel;
            return false;
        });
    });
</script>
<section id="content">
    <section class="hbox stretch">
        <aside>
            <section class="vbox">
                <header class="header bg-white b-b clearfix">
                    <div class="row m-t-sm">
                        <div class="col-sm-10 m-b-xs">
                            <label style="font-weight: bold">DANH SÁCH THẺ ĐEN</label>
                        </div>
                        <div class="col-sm-2 m-b-xs">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-sm btn-default" title="Filter" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu" style="left: -129px;">
                                    <li><a class="btn" id="btn_XuatExcel"><i class="fa fa-check icon-muted fa-fw"></i>Excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>
                <section id="Griditems" class="">
                </section>
            </section>
        </aside>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
