<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AdminUrl" value="/Admin/" />
  <add key="UrlLogin" value="/Admin/AccountAdmin/Logon" />
  <add key="ListAdmin" value="Admin,SuperAdmin" />
  <add key="URLImage" value="/Uploads/Thumbs/" />
  <add key="RootURLImage" value="/Uploads/Root/" />
  <add key="URLAvatar" value="/Uploads/Avatar/" />
  <add key="URLOriginalImage" value="/Uploads/Originals/" />
  <add key="URLImagePromotion" value="/Uploads/Mediums/" />
  <add key="ModuleArea" value="FDI.Web.Areas" />
  <!--Config Cache-->
  <add key="ServerCache" value="127.0.0.1:11211"/>
  <add key="EnableCache" value="0"/>
  <add key="ServerRedisCache" value="127.0.0.1"/>
  <add key="PortRedisCache" value="5"/>
  <add key="TimeExpireCache" value="10"/>
  <add key="TimeExpireCache30" value="30" />
  <add key="TimeExpireCache60" value="60" />
  <add key="TimeExpireCache120" value="120" />
  <add key="TimeExpireCache360" value="360" /> 
  <add key="ListLanguage" value="vi,en,zh" />
  <!--End-->
  
  <!--Customer-->
  <add key="customerEmail" value="customerEmail"/>
  <add key="customerAvatar" value="customerAvatar"/>
  <add key="customerName" value="customerName"/>
  <add key="customerID" value="customerID"/>
  <add key="sessionTimeout" value="30"/>
  <add key="customerIsAdmin" value="customerIsAdmin" />
  <add key="URLtail" value=""/> 

  <!--End-->
  <!--Id Danh muc--> <!--sau này đẩy ra setting cho module-->
  <add key="NewsId" value="2"/>  
  <add key="NewsDetail" value="1043"/>
  <add key="News" value="3"/>
  <add key="NewsCate" value="30"/>
  <add key="Product" value="1043"/>
  <add key="ProductDetail" value="1039"/>
  <add key="DocumentDetails" value="29"/>
  <add key="ImageDetails" value="21"/>
  <add key="FAQDetail" value="24"/>
  <add key="FAQQuestion" value="25"/>
  <add key="FAQSearch" value="1033"/>
  <add key="VideoDetail" value="20"/>
  <add key="VideoId" value="17"/>
  <add key="BoSungHoSoId" value="3"/>
  <add key="TraketQuaid" value="4"/>
  <add key="TaoMoiHoSoId" value="5"/>
  <!--Page-->
 
</appSettings>