<connectionStrings>
 
  <add name="FDIEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= QUANGKHANH-PC ;initial catalog= NetPos_12_8_2016 ;user id=sa;password=123456a@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source= QUANGKHANH-PC ;Initial Catalog= NetPos_12_8_2016 ;Integrated Security=False;user id=sa;password=123456a@;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  
<!--<add name="FDIEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= QUANGKHANH-PC ;initial catalog= ViDaHungYen ;user id=sa;password=123456a@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source= QUANGKHANH-PC ;Initial Catalog= ViDaHungYen ;Integrated Security=False;user id=sa;password=123456a@;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->

</connectionStrings>