@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login-wrapper">
    <!--<div class="login-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="logo-login">
                            <a href="#" title="">
                                <img src="img/Logo-CTS.png" class="img-responsive" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    <div class="login-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box-log-res">
                        <b>Đăng Nhập</b>
                        <h4>Chào mừng bạn đến với đại học FPT</h4>
                        <form class="form-logres-sty" id="formLogin" action="/Login/ProcessLogin" method="POST">
                            <div class="form-group">
                                <label class="control-label">Tên đăng nhập: <strong>*</strong></label>
                                <input type="text" class="form-control" name="iptLoginUser" id="iptLoginUser" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mật khẩu: <strong>*</strong></label>
                                <input type="password" class="form-control" name="iptLoginPass" id="iptLoginPass" />
                            </div>
                            <div class="form-group">
                                <span>
                                    <input type="checkbox" />Duy trì đăng nhập</span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-submit">Đăng Nhập</button>
                            </div>
                            <!--<div class="form-group">
                                    <div class="login-other">
                                        <ul>
                                            <li><a href="#" title="">Cấp lại mật khẩu</a></li>
                                            <li><a href="dangky.html" title="">Đăng ký mới</a></li>
                                        </ul>
                                    </div>
                                </div>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#formLogin").submit(function () {
            if ($("#iptLoginUser").val() == "") {
                $(".box-log-res h4").html("Chưa nhập tên tài khoản");

            } else if ($("#iptLoginPass").val() == "") {
                $(".box-log-res h4").html("Chưa nhập mật khẩu");
            } else {
                $("#error").html("");
                $.post("/Login/ProcessLogin", $("#formLogin").serialize(), function (data) {
                    if (!data.Errors) {
                        window.location.href = "/";
                    } else {
                        $(".box-log-res h4").html(data.Msg);
                    }
                });
            }
            return false;
        });
    })
</script>
