<div class="content-left">
    <h2>Thông tin cá nhân
    </h2>
    <div class="box-content-left">
        <div class="profile-account">
            <div class="account-avartar">
                <img src="/Content/Publishing/img/account-avt.png" class="img-responsive" />
            </div>
            <div class="account-detail">
                <a href="#" title="" style="color: #dc143c">@ViewBag.Name</a>
                <span style="color: #dc143c">@ViewBag.ID</span>
            </div>
        </div>
    </div>
    <div class="menu-aside">
        <h3><i class="fa fa-clock-o"></i>Lịch sử giao dịch</h3>
        <div class="box-menu-left">
            <ul>
                <li><a href="#" title=""><i class="fa fa-shopping-cart"></i>Giao dịch trừ tiền</a></li>
                <li><a href="#" title=""><i class="fa fa-money"></i>Giao dịch nạp tiền</a></li>
            </ul>
        </div>
    </div>
</div>
